.dining {
  padding: 56px 0 80px 0;
  .shop {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    &-card {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;
      padding: 10px 0;
      font-size: 14px;

      img {
        width: 90px;
        height: 100px;
        border-radius: 14px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 20px;
        &-title {
          line-height: 20px;

          p:first-child {
            color: #333;
            font-weight: 600;
          }
          p:last-child {
            color: #71727a;
          }
        }
      }
    }
  }
}
