.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  border-top: 1px solid #cdcdcd;
  padding-top: 15px;

  &-item {
    width: max-content;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    cursor: pointer;

    &_active {
      font-weight: 600;
    }

    p {
      font-size: 12px;
    }
  }
}
