.main {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  .progress {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 12px;
      padding: 16px;

      &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        background-color: #b4dbff;
        border-radius: 100%;
      }
    }
  }

  .title {
    padding: 24px;
    text-align: center;
    margin-bottom: 33px;
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .img-qr {
    text-align: center;
  }

  .button-qr {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 12px;
    width: 96%;
    border-radius: 10px;
    border: 3px solid #33333333;
  }
}
